body {
    margin: 0;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
}

.topGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20vh;

    grid-auto-rows: calc(75vh / 4);
    width: 70vw;

    grid-template-areas: 
    "tl tl tl tst tst tst"
    "tl tl tl tst tst tst"
    "tl tl tl tsb tsb tsb"
    "tl tl tl tsb tsb tsb";
}

.topLeft {
    background-color: lightblue;
    grid-area: tl;
    padding: 7rem;
    padding-top: 4rem;

    background-image: url(/img/family.png);
    background-position: right bottom;
    background-size: 40vh;
    background-repeat: no-repeat;
}
.topLeft h2{
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: -0.175rem;
    margin: 0;
}
.topLeft p {
    font-family: sans-serif;
    font-weight: bold;
    color: grey;
}
.topLeft .price {
    color: white;
}

.topSideTop {
    background-color: orange;
    grid-area: tst;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.topSideTop p{
    font-family: sans-serif;
    font-weight: bold;
    color: darkred;
}

.topSideBot {
    background-color: yellow;
    grid-area: tsb;
}

.topBar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgray;
    width: 70vw;
    height: 8vh;
}

.mainGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 20vh;

    height: 275vh;
    width: 70vw;

    grid-template-areas: 
    "mb mb mb mb mb mb"
    "mb mb mb mb mb mb"
    "mb mb mb mb mb mb"
    "mb mb mb mb mb mb"
    "au au au au au au"
    "au au au au au au"
    "au au au au au au"
    "au au au au au au"
    "hw hw h1 h1 h2 h2"
    "hw hw h1 h1 h2 h2"
    "h3 h3 h4 h4 h5 h5"
    "h3 h3 h4 h4 h5 h5";
}

.mainBox {
    background-color: gray;
    grid-area: mb;
}

.aboutUs {
    background-color: orange;
    grid-area: au;
}

.howItWorks {
    background-color: lightblue;
    grid-area: hw;
}

.hiw1 {
    background-color: whitesmoke;
    grid-area: h1;
}

.hiw2 {
    background-color: lightgray;
    grid-area: h2;
}

.hiw3 {
    background-color: whitesmoke;
    grid-area: h3;
}

.hiw4 {
    background-color: tomato;
    grid-area: h4;
}

.hiw5 {
    background-color: whitesmoke;
    grid-area: h5;
}

.takeMeUp {
    display: flex;
    justify-content: center;
    background-color: darkgrey;
    width: 70vw;
    height: 8vh;
}